.spinner-container {
    width: 100%;
    height: 100vh;
    position: fixed;

    .mat-spinner-color {
        left: calc(50% - 100px);
        top: calc(50% - 100px);
    }

    .mat-spinner-color::ng-deep circle {
        stroke: blue !important;
    }
}