<div class="header">

    <p>
        <span>Deadline compliance percentage: </span>
        <span>{{deadlineCompliance}}%</span>
    </p>
    <p>
        <span>Grade point average: </span>
        <span>{{average}}%</span>
    </p>
</div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="filter" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by score"> score </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>

    <ng-container matColumnDef="durationInDays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by durationInDays">
            durationInDays </th>
        <td mat-cell *matCellDef="let element"> {{element.durationInDays}} </td>
    </ng-container>

    <ng-container matColumnDef="bugsCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by bugsCount"> bugsCount
        </th>
        <td mat-cell *matCellDef="let element"> {{element.bugsCount}} </td>
    </ng-container>

    <ng-container matColumnDef="madeDadeline">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by madeDadeline">
            madeDadeline
        </th>
        <td mat-cell *matCellDef="let element"> {{element.madeDadeline}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.make-green]='row.score > 90'
        [class.make-red]="row.score < 70"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter {{input.value}}</td>
    </tr>
</table>